@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@value font-stack: 'Roboto', sans-serif;

.statistics {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 270px;
  background-color: #fff;
  padding-top: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.48);
}

.title {
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
  font-family: font-stack;
  color: #475965;
}

.statList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: font-stack;
  font-size: 12px;
  color: #fff;
}

.item {
  width: 20%;
  padding-top: 12px;
  padding-bottom: 5px;
  background-color: azure;
}

.label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.percentage {
  composes: label;
}
